
#title{
    width: 400px;
    height: 50px;
    font-size: 1rem;
    margin-top: 40px;
}
#title::placeholder{
    font-size: 1rem;
}
#md-editor{
    margin-top: 20px;
}
.save-btn{
    position: absolute;
    margin-top: 10px;
    font-size: 0.9rem;
    right: 30px;
    background:#8AC6D1;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}